@import "~nes.css/scss/base/color-palette.scss";
@import "~nes.css/scss/base/variables.scss";

.tetris {
  position: relative;
}

.cube {
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  padding: 0 !important;
  position: absolute !important;
}

.filled {
  background-color: $color-black;
  border-width: 35%;
  border-top-color: $color-30;
  border-left-color: $color-30;
  border-right-color: $color-00;
  border-bottom-color: $color-00;

  &::before {
    content: "";
    display: block;
    height: 10%;
    width: 20%;
    background-color: $color-white;
    position: absolute;
    left: 20%;
    top: 10%;
  }

  &::after {
    content: "";
    display: block;
    height: 15%;
    width: 10%;
    background-color: $color-white;
    position: absolute;
    left: 20%;
    top: 20%;
  }
}

.preview {
  opacity: 0.3;
}
